@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover .mob-close,
.menu-toggle:focus .mob-close {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: var(--white-back-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;

  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav__link {
  display: block;
  padding: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &.link:hover,
  &.link:focus {
    color: var(--accent-color);
  }
}

.mobile-current {
  color: var(--accent-color);
}

.mobile-contakt {
margin-bottom: 64px;
}
.mobile-contakt-mobile {
  margin-bottom: 32px;
}
.mobile-tel {
  font-size: 34px;
  line-height: 1.17px;
  color: var(--accent-color);
}

.mobile-mail {
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
}

.mobile-social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.mobile-nav {
  gap: 35px;
}

.mobile-social__link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}
.mobile-sociale__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}
.mobile-sociale__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
