.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28px / 26px);
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  &-black {
    color: var(--black-logo-color);
  }
  &-white {
    color: var(--white-back-text-color);
  }
  @include desktop {
    font-size: 26px;
  }
}
