.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-back-text-color);
  border-radius: 4px;
  transition: transform 250ms linear;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  &-icon {
    cursor: pointer;
  }
  .close-btn:hover &-icon {
    fill: var(--accent-color);
  }
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }
  &-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.top-title {
  margin-top: 12px;
}

.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.imput-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-input:hover ~ &,
  .form-input:focus ~ & {
    fill: var(--accent-color);
  }
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  height: 120px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* pppppppppppp допомога*/

.form__check {
  position: absolute;
  appearance: none;
}

.form__checkbox {
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  fill: var(--white-back-text-color);
  border: 2px solid var(--primary-text-color);
}

.form__checkbox-icon {
  display: none;
}

.form__check:checked + .form__checkbox {
  background-color: var(--accent-color);
  border: none;
}

.form__check:checked + .form__checkbox .form__checkbox-icon {
  display: block;
}

/* додав до допомоги */

.form-field-chek {
  padding-left: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__field-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.form__field-link {
  margin-left: 4px;
  color: rgba(33, 150, 243, 1);
}

/* pppppppppppp допомога*/

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 10px 52px;

  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-back-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
