*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ~~~~~~~~~Убираем точки списков~~~~~~~~ */
.list {
  list-style: none;
}

/* ~~~~~~~~Убираем подчеркивание ссылок~~~~~~~~ */
.link {
  text-decoration: none;
}

/* ~~~~~глобальный сброс margin, padding~~~~~ */
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
