.client {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__item {
  width: 100%;
  @include calc(2, 30px);
  @include tablet {
    @include calc(3, 30px);
  }
  @include desktop {
    @include calc(6, 30px);
  }
  // width: calc((100% - 150px) / 6);
  height: 92px;
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  @include tablet {
    max-width: 226px;
  }
  @include desktop {
    max-width: 170px;
  }
}

.client__icon {
  fill: #afb1b8;
  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
