.features {
  padding-top: 94px;
  padding-bottom: 94px;
  &-list {
    display: flex;
    gap: 30px;
  }

  &-item {
    width: calc((100% - 90px) / 4);
  }

  &-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &-text {
    color: var(--secondary-text-color);
  }

  &-icon-fon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: var(--team-background-color);
  }
}
